body {
background-color: black;
text-align: center;
color: white;
margin: 0;
padding: 0;
}


.container {
display: flex;

}
img {
text-align: center;
}


div {
padding: 5px;
border: solid 2px black;
}

.container {
justify-content: space-around;
display: flex;
flex-direction: row;
flex-wrap: unwrap;
height: 20vh;  
width: auto; 
margin: 0;
padding: 0;
}

.box {   
display: flex;
justify-content: center;
flex-direction: column;

align-self: center;
height: 70px;
width: 70px;
text-align: center;
margin: 0;
padding: 0;
color: purple;
font-size: 22px;
font-weight: 10px;
}

.box img {
height: 35px;
align-self: center;
}


h2 {
height: 2px;   
font-size: 18px;
font-style: italic;
}